<center><img src="https://github.com/pandas-dev/pandas/raw/main/web/pandas/static/img/pandas.svg" alt="pandas Logo" style="width: 800px;"/></center>

# Lessons 10 - 14 : Pandas Primer

This lesson is modified from [Introduction to Pandas](https://foundations.projectpythia.org/core/pandas/pandas.html) by [Project Pythia](https://projectpythia.org), and from  [Exploring data using Pandas](https://geo-Python-site.readthedocs.io/en/latest/notebooks/L5/exploring-data-using-pandas.html), [Processing data with Pandas](https://geo-Python-site.readthedocs.io/en/latest/notebooks/L5/processing-data-with-pandas.html), [Processing data with Pandas II](https://geo-Python-site.readthedocs.io/en/latest/notebooks/L6/advanced-data-processing-with-pandas.html) by [Geo-Python](https://geo-Python-site.readthedocs.io/en/latest/index.html)


[![Binder](https://mybinder.org/badge_logo.svg)](https://mybinder.org/v2/gh/aselshall/eds/HEAD)

---

## Overview

From the [official documentation](https://pandas.pydata.org/), Pandas “is a fast, powerful, flexible and easy to use open source data analysis and manipulation tool, built on top of the Python programming language.” Pandas is a powerful library for working with tabular data. You can think of it as a programmable spreadsheet. By the end of this lesson you will be able to: 
- install and import Pandas
- import a csv file with Pandas 
- use Pandas for exploratory data analysis
- filter and query through data to perform data analysis

---

## Cheat Sheets

- Basic: [1-page cheat sheet by Data Camp](https://assets.datacamp.com/blog_assets/PandasPythonForDataScience.pdf)
- Advanced: [2-page cheat sheet by Pandas Developers](https://pandas.pydata.org/Pandas_Cheat_Sheet.pdf)
- Comprehensive: [12-page cheat sheet by Lee at Univ of Idaho](https://www.webpages.uidaho.edu/~stevel/cheatsheets/Pandas%20DataFrame%20Notes_12pages.pdf)

---

## 1. Installation

If you are using anaconda, you do not need to install Pandas. If you just installed Python only, then need to install these common packages such as Pandas and numpy. You can [Install panda](https://pandas.pydata.org/docs/getting_started/install.html) using pip
```Python
pip install pandas
```
Before you type to above command in a new code cell, you can update your pip and install a dependancy.

Just run these cells one by one. After each the installation is complete, make sure to restart the kernel from the menu `Kernel`:`Restart Kernel...`

In [1]:
#pip install --upgrade pip

In [2]:
#pip install pyarrow

In [3]:
#pip install pandas

You need to install these once. Then you can comment the installation command (as they are already commented above) or delete these cells to avoid repeating this ever time your run this notebook.

## 2. Imports

You will often see the nickname `pd` used as an abbreviation for Pandas in the import statement, just like `numpy` is often imported as `np`.

Note as a good coding practice, we generally import all the packages that we will need in the first cell in our notebook. However, we are importing Pandas here in the middle of our notebook for educational purpose.

## 3. Basic terminologies

The Pandas [`DataFrame`](https://Pandas.pydata.org/docs/user_guide/dsintro.html#dataframe) and The Pandas [`Series`](https://Pandas.pydata.org/docs/user_guide/dsintro.html#series) are **labeled** data structures. 

The Pandas [`DataFrame`](https://Pandas.pydata.org/docs/user_guide/dsintro.html#dataframe) (a 2-dimensional data structure) is used for storing and mainpulating table-like data (data with rows and columns) in Python. You can think of a Pandas DataFrame as a programmable spreadsheet.

![dataframe schematic](https://github.com/Pandas-dev/Pandas/raw/main/doc/source/_static/schemas/01_table_dataframe.svg "Schematic of a Pandas DataFrame")  
The first column in dark gray, referred to as an `index`, contains information characterizing each row.   
The first row in dark gray, referred to as `header`, contains the column lablels

The Pandas [`Series`](https://Pandas.pydata.org/docs/user_guide/dsintro.html#series) (a 1-dimensional data structure) is used for storing and manipulating a sequence of values. Pandas Series is kind of like a list, but more clever. One row or one column in a Pandas DataFrame is actually a Pandas Series.

![Pandas Series](https://github.com/Pandas-dev/Pandas/raw/main/doc/source/_static/schemas/01_table_series.svg "Schematic of a Pandas Series")

## 4. Learning Pandas by an example

Let us learn Pandas by an example. This is mainly to 
- gain an understanding of how to effectively use the library in your own projects
- showcase the wide range of capabilities
- accelerate the learning process

The idea here is to empower you to adapt these tools to various data analysis tasks.

### 4.1 Collecting weather data

Let us go to [NOAA](https://www.ncdc.noaa.gov/cdo-web) to collect weather data for Fort Myers area from Jan 1, 2020 to Dec 31, 2023. Go to [Browse Datasets](https://www.ncdc.noaa.gov/cdo-web/datasets) and then select [Normals Daily: Search Tool](https://www.ncei.noaa.gov/cdo-web/search?datasetid=NORMAL_DLY). Then make the following selections:
- Select Weather Observation Type/Dataset :  Daily Summaries
- Select Date Range : 2020-01-01 to 2023-12-31
- Search For : Cities
- Enter a Search Term : Fort Myers

Then add to cart 'Fort Myers, FL US' and checkout your data as 'Custom GHCN-Daily CSV'.

On your checkout select the following
- [x] Station Name
- [x] Geographic Location
- [ ] Include Data Flags

Show All / Hide All | Select All / Deselect All
- [x] Precipitation
- [x] Air Temperature
- [x] Wind
- [x] Weather Type

Then submit your order. Wait for a minute or so until your data is ready. Download your data. It is always a good idea to download the data documentation to get a better understanding of your data.

### 4.2 Importing a `csv` file
We start by reading in some data in comma-separated value (`.csv`) format.

Once we have a valid path to a data file that Pandas knows how to read, we can open it with:
``` Python
dataframe_name = pd.read_csv('filepath/your_file.csv')
```

In [4]:
# Read a csv file with Pandas

### 4.3 Displaying a `DataFrame`

#### 4.3.1 Display DataFrame

If you are using a Jupyter notebook, do not use `print(df)`. Jupyter can display a nicely rendered table by just typing your dataframe_name or `display(dataframename)`

In [5]:
#Display your DataFrame

In order to flood your screen, Jupyter did not print the whole table to screen. You can play with what you want to view. For example, try playing with these dataframe methods `df.head()`, `df.head(3)`, `df.tail(8)`

In [6]:
# Show the first few columns in your DataFrame

In [7]:
# Show the first three rows in your DataFrame

In [8]:
#Show the last few rows in your DataFrame

#### 4.3.2 Display the size of DataFrame

You can learn about the number of rows and column in a dataFrame using `df.shape`, number of rows `df.shape[0]` and numbers of columns `df.shape[1]`

In [9]:
#Show number of rows and columns in your DataFrame

In [10]:
#Show number of rows in your DataFrame

In [11]:
#Show number of columns in your DataFrame

#### 4.3.3 Display different date types in your DataFrame

Let's check the datatype of columns 'PRCP', 'STATION', and 'DATE" using `df['column_label'].dtypes` or `df.column_label.dtypes` 

The data type dtype('O') indicates that the Pandas column contains objects, typically strings, rather than numerical or datetime values.

In [12]:
#Data type for column PRCP

In [13]:
#Data type for column STATION

In [14]:
#Data type for column DATE

#### 4.3.4 Change data type in your DataFrame

Pandas did not recognize `DATE` as datetime format. To convert a column in a Pandas DataFrame to datetime format, you can use the 
```python
df[column_name]=pd.to_datetime(column_name)
```
function. Here's how you can do it:

In [15]:
# Convert format of DATE to datetime format


#Data type for column DATE using .dtypes

<div class="admonition alert alert-info">
    <p class="admonition-title" style="font-weight:bold">Note</p>
    Changing date types in Pandas is not uncommon because sometime Pandas cannot automatically format your data as you expect it, so you need to convert the data format manually as we did above.</a>
</div>

### 4.4 Filter columns by column labels

My data has 24 columns and I want to focus only on these columns

| Column Label | Description |
|--------------|-------------|
| STATION      | Station identification code (17 characters). |
| NAME         | Name of the station (usually city/airport name, max 50 characters). |
| DATE         | Year of the record (4 digits) followed by month (2 digits) and day (2 digits). |
| PRCP         | Precipitation (mm or inches as per user preference, inches to hundredths on Daily Form pdf file) |
| TMAX         | Maximum temperature (Fahrenheit or Celsius as per user preference, Fahrenheit to tenths on Daily Form pdf file) |
| TMIN         | Minimum temperature (Fahrenheit or Celsius as per user preference, Fahrenheit to tenths on Daily Form pdf file) | 
| AWND         | Average daily wind speed (meters per second or miles per hour as per user preference) |


  
You can use the statement `df = df[selected_columns]` to select and update the DataFrame df to contain only the columns specified in the list selected_columns.

In [16]:
# List of column names to focus on
selected_columns = ['STATION', 'NAME', 'DATE', 'PRCP','TMAX', 'TMIN', 'AWND']

# Filter the DataFrame to include only the selected columns


# Display new DataFrame

### 4.5 Filter rows by a keyword

I only want stations at airports. You can filter a DataFrame based on whether a particular column contains a specific string using
```python
df[column_name].str.contains(keywords)`
```
method in Pandas. 

In other words, I want to see which rows in the column `df['NAME']` that contains the keyword 'Airport', and only retain these rows and filter out all other rows. Here is how to do this:

In [17]:
# Specify the keyword you want to filter for in the 'NAME' column
keyword = 'AIRPORT'

#Use Pandas method str.contains() to create a boolean mask, 
# which is `True` for rows where the `NAME` column contains the specified keyword.


# Display your mask for understanding


# Use this mask to filter the DataFrame; that is to update it with the desired condition


# Print the resulting DataFrame

#### Showing unique values in a column 

How many stations do I have in that column after updating my DataFrame with that keyword?

To find unique values in a specific column, in this case, the `NAME` column of a DataFrame, you can use the `.unique()` method in Pandas.

In [18]:
#Display unique station names in 'NAME'

In [19]:
#Display unique station IDs in 'STATION'

### 4.6 Filter rows by a specific value

If you want to filter your DataFrame to only include rows where the `STATION` column has the value 'USW00012835', you can also use boolean indexing. 
```python
df['STATION'] == 'USW00012835'
```

Let us do this here and let use save this a new DataFrame `one_station` by using `.copy()`.

In [20]:
#Use Pandas create a boolean mask with name station_mask 
#for all rows that the column `STAINION` has value of 'USW00012835'

# Use the station_mask  to filter DataFrame for rows where 'Station' is 'USW00012835' and save it to a new DataFrame 'one_station'


# Print the resulting DataFrame

<div class="admonition alert alert-info">
    <p class="admonition-title" style="font-weight:bold">Note</p>
    When using <code>.copy()</code>, you explicitly create a new DataFrame ensuring that modifications to new DataFrame do not affect the original DataFrame <code>df</code>. In other words, you clearly tell Pandas that you want an independent copy of the data and not just a different view.
</div>

Now I have the data for one station for my study period. While my header is informative, my index is not informative. We generally make date-time as our index as shown next.

### 4.7 Make a datetime column as the DataFrame index

To make the `DATE` column as the index of your DataFrame, you can use:
```Python 
# Note: inplace=True argument will modify the DataFrame directly, instead of creating a new one
df.set_index('Date_Column_Name',inplace=True) 
``` 

However, before we set our `DATE` column as our index column, let us change its format to datetime format. We already did this conversion [above](#4.3.4-Change-data-type-in-your-DataFrame), but let us do it again.

In [21]:
# Convert the "DATE" column to datetime format using pd.to_datetime()


# Set the "DATE" column as the index of your DataFrame


#Display your DataFrame with `DATE` as index

<div class="admonition alert alert-info">
    <p class="admonition-title" style="font-weight:bold">Note</p>
    Pandas may or may not understand the format of <code>DATE</code> column as date. Thus, it is generally a good practice to convert the column to datetime format before setting it as the index, especially if you plan to perform time-based operations later on. If the column is not in datetime format, some time-related functionalities may not work correctly.
</div>

#### Check the index

Now let us see how the index change of our original DataFrame `df.index` and the one we just modified `one_station.index`

In [22]:
#Index of the original DataFrame df

In [23]:
#Index of the DataFrame one_station after we changed its index to be the DATE column

You can also show the range of your index with `.index.min()` and `.index.max()` methods. 

Try it out:

In [24]:
#print min index value in DataFrame df

#Print max index value in DataFrame df

#print min index value in DataFrame one_station


#Print max index value in DataFrame one_station

<div class="admonition alert alert-info">
    <p class="admonition-title" style="font-weight:bold">Note</p>
    You might be wondering why the index of <code>df</code> is not starting from <code>0</code>. That is because we already have removed some rows from it, so the retained rows retain their original index values. If you do not want this, you can reset your index using  <code>df = df.reset_index()</code>. 
</div>

Try looking at the label of column by using: `one_station.columns`

In [25]:
#Print column labels in DataFrame one_station

### 4.8 Descriptive statistics

Pandas DataFrames contain useful methods for getting summary statistics. Available methods include `describe()`, `info()`, `count()`, `mean()`, `median()`, `min()`, `max()`, and `std()` (the standard deviation). You can also do `column_name.describe()`

In [26]:
#Descriptive statistics for one_station Dataframe
one_station.describe()

NameError: name 'one_station' is not defined

You can also do it per column

In [ ]:
#Descriptive statistics for the column 'PRCP' one_station Dataframe (dot notation)

You can also use dic notation `one_station['PRCP']` instead of dot notation `one_station.PRCP`.

In [ ]:
#Descriptive statistics for the column 'PRCP' one_station Dataframe (dic notation)

<div class="admonition alert alert-info">
    <p class="admonition-title" style="font-weight:bold">Note</p>
     The dot notation will not work if the column name is not a valid variable name (e.g., having space, starting with a number, etc.).
</div>

You can do it per a group of columns

In [ ]:
# List of columns to show
columns_group = ['PRCP', 'AWND']

#Descriptive statistics for a selected columns in one_station Dataframe

### 4.9 Resampling of time-series data

Remember Pandas is powerful because it is a programmable spreadsheet. For example, can to find the min, max, mean, or median value per month, week, year, or any other criteria. You can use the method of 
```python
df.resample("Freqency").arreegation_method()
```
Frequency: The target frequency you want to resample to. Pandas supports many frequencies:
- "D" - Calender day
- "B" - Business day 
- "M" - Monthly frequency
- "W" - Weekly frequency 
-  "h" - Hourly frequency
-  "min" - Minutely frequency

and  many more as shown in [Pandas documentation](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#dateoffset-objects).

Aggregation Methods: When downsampling, you often want to summarize groups of data using Pandas provided methods such as:  
- `mean()` - Calculates the mean
- `sum()` - Calculates the sum
- `min()` - Finds the minimum value
- `max()` - Finds the maximum value
- `std()` - Calculates standard deviation

... and others

For example, find the max PRCP, TMAX, TMIN and AWND for each week in your dataset

In [ ]:
#Max PRCP, TMAX, TMIN and AWND in every week of my dataset using .resample() method

Find the min PRCP, TMAX, TMIN and AWND in each year in my dataset

In [ ]:
#Min PRCP, TMAX, TMIN and AWND in each year .resample() method

This is mainly a quick overview on `.resample()` method. To learn this method in details, check [Pandas user-guide on resampling](https://pandas.pydata.org/pandas-docs/stable/user_guide/timeseries.html#resampling).

### 4.10 Groupby 

While resample is specifically designed to change the frequency of the time series, groupby is a more general-purpose tool for grouping data based on some criteria, which can include time-related criteria but is not limited to time-series data. It can be used with any categorical or numerical criteria for grouping. It's more flexible and allows for custom aggregation functions.

#### 4.10.1 Groupby for categorical data

For example, what if we want to find the monthly mean of `TMAX` and `TMIN` for the two weather stations at two airports. Let us first create the DataFrame `two_stations` for these two weather stations.

In [ ]:
#Create a new DataFrame contains only stations at airports
two_stations = df.copy()

# Convert the "DATE" column to datetime format
two_stations['DATE'] = pd.to_datetime(two_stations['DATE'])

# Set the "DATE" column as the index of your DataFrame
two_stations.set_index('DATE', inplace=True)

#Display data for two stations
two_stations

We can see that we have two stations "USW00012894" and "USW00012835". 
  
We can to find the monthly mean of our data. However, if you tried to apply a method such as `mean()` or `resample()` as we did before in [Secion 4.9](#4.9-Resampling-of-time-series-data) you will get an error
```Python
TypeError: agg function failed [how->mean,dtype->object]
```
suggesting that that you have non-numeric columns in your DataFrame, and the `mean()` operation is not applicable to those columns.

In [ ]:
#This commented code will give you an error because two_stations has non-numeric data
#two_stations.mean()

<div class="admonition alert alert-info">
    <p class="admonition-title" style="font-weight:bold">Note</p>
      In case you are wonder, why did the <code>.mean()</code> method worked with the <code>one_station</code> DataFrame, but not with <code>two_stations</code> DataFrame even although the <code>one_station</code> also contained non-numeric values in columns <code>NAME</code> and <code>STATION</code>?  In  <code>one_station</code> DataFrame the values in non-numeric columns were not changing because it is only one station. But with <code>two_stations</code> DataFrame the values in the non-numeric columns <code>NAME</code> and <code>STATION</code> are chaning because we have two stations. Thus, we cannot apply the <code>.mean()</code> method. In other words, what is the mean of "USW00012894" and "USW00012835" ?
</div>

Thus, before using `resample()` and `mean()`, it's a good idea to ensure that all columns you're aggregating are numeric. 

Let us filter out `STATION` and `NAME` that are the non-numeric columns, and only keep the numeric columns that are `PRCP`,	`TMAX`,	`TMIN`, and `AWND`. For filtering out, you can do `two_stations[columns_to_keep]` as we learned [before in Section 4.4](#4.4-Filter-columns-by-column-labels).  Then we can apply the `.mean()` , `.resample('Y').mean()` , or whatever method you need to use.

In [ ]:
#Select the numeric columns that you want
columns_to_keep =  ['PRCP', 'TMAX', 'TMIN', 'AWND']

#Apply mean to numeric columns 
two_stations[columns_to_keep].resample('Y').mean()

The above method works, but using 
```python
df.groupby(groupby_column)[columns_to_show].method_you_need()
```
can be more pwoerful because it will show you these values for each category, which is in that case for each station.

In [ ]:
#Select columns only
columns_to_keep =  ['PRCP', 'TMAX', 'TMIN', 'AWND']

# For the two_stations DataFrame group by 'STATION' then apply .resample('Y').mean() to the selected columns only
# groupy-> Select columns -> apply method

Try to do it again, but this time groupby 'NAME` or both of them.

In [ ]:
#Select columns only
columns_to_keep =  ['PRCP', 'TMAX', 'TMIN', 'AWND']

# For the two_stations DataFrame group by 'STATION' then apply .resample('Y').mean() to the selected columns only
# groupy-> Select columns -> apply method

### 4.11 Slicing with loc and iloc

Slicing is a method used to extract a subset of data from a larger data structure, such as a list, array, or DataFrame, by specifying a range or specific indices.ases.

The following two ways to access data are preferred by Pandas over other methods:
1. For `.loc["row_start":"row_end", "col_start":"col_end"]`:
    - `.loc[]`: Access data by label.
    - `"row_start":"row_end"`: Specify the range of rows by their labels, inclusively.
    - `"col_start":"col_end"`: Specify the range of columns by their labels, inclusively.

2. For `.iloc[row_start:row_end, col_start:col_end]`:
    - `.iloc[]`: Access data by index position.
    - `row_start:row_end`: Specify the range of rows by their index positions, exclusively.
    - `col_start:col_end`: Specify the range of columns by their index positions, exclusively.

The `.loc[]` method when accessing data by label is inclusive, meaning it includes the specified start and end labels.  
The `iloc[]` method when accessing data by index is exclusive, meaning it includes the start index but excludes the end index.
  
The above is a general syntax, but there are some many special cases.ases.

#### 4.11.1 Slicing with `loc`

Let us slice from index label `2023-12-30` to `2023-12-31` and column labels `STATION` to `PRCP`.

<div class="admonition alert alert-info">
    <p class="admonition-title" style="font-weight:bold">Note</p>
In Pandas, to perform a value-based partial slicing operation, your DataFrame index need to sorted in ascending order. You can do this using <code>.sort_index(inplace=True)</code>.
</div>

In [ ]:
# Sort the two_stations DataFrame by the 'DATE' index in ascending order
two_stations.sort_index(inplace=True)

# View last 5 rows in two_stations DataFrame

# View  slice from '2023-12-30' to'2023-12-31', and 'from STATION' to 'PRCP' using loc (inclusive)

You can also do `'2023-12:30':` to retrieve all rows from the specified start date `2023-12-30` to the end of the last row. You can also do the same for columns `'STATION':` if needed.

In [ ]:
# In two_stations DataFrame, view  slice from '2023-12-30' to the last row, and 'from STATION' to the last column using loc

You can also specify what you exactly `['NAME','STATION','PRCP']` need instead of having a range.

In [ ]:
# In two_stations DataFrame, view slice from '2023-12-30' to the last row, and for clumns 'NAME','STATION', and'PRCP' in that order

##### Special case for a datetime index

If your index is datetime you can even do more, like slicing a certain year.

For example let us say I want to slice the data of 2023. It is very simple `.loc['2023']`

In [ ]:
#Slice 2023 data in two_stations DataFrame using .loc[]

#### 4.11.2 Slicing with `iloc`

Do the same with `iloc`, and slice from rows `2023-12-30` to `2023-12-31` and columns `STATION` to `PRCP`. 

First find the shape of this DataFrame to get an idea about the index number for the last four rows.

In [ ]:
#Find the shape of two_stations DataFrame first

In [ ]:
# View  slice from '2023-12-30' to'2023-12-31', and 'from STATION' to 'PRCP' using iloc (exclusive) starting from 2918:2922

You can also do `2918:` to retrieve all rows from the specified index to the end of the last index.

In [ ]:
# View  slice from '2023-12-30' to the last row, and from 'STATION' to the last column using iloc (exclusive) starting from 2918

In the above example, since you are starting from index `0` you can just do `:` which will select all columns.

In [ ]:
# View  slice from '2023-12-30' to the last row, and from 'STATION' to the last column using iloc (exclusive)

There are so many ways for slicing through a DataFrame. For more examples and details, check [Introduction to Pandas](https://foundations.projectpythia.org/core/Pandas/Pandas.html) by [Project Pythia](https://projectpythia.org).

### 4.12 Dicing

While slicing involves selecting specific rows and columns based on their indices or labels, dicing goes a step further by selecting specific elements based on some condition or criteria. It looks something like this

```Python
# for multiple conditions and multiple columns to show
df.loc[(condtions_on_rows, columns_to_show] 
```
 
Let us do a simple example investigating extreme values. Find the days where  `'TMIN'<=36`

In [ ]:
#Condition 'TMIN'<=36 (dot notation)


#Retriving all data with the above condition

What we did in the above example, is a mask with a condition that returns Boolean value True when the condition is met and False otherwise.

Now let us do another extreme values by have two conditions: `'PRCP'>0` and `'TMAX'>=98`

In [ ]:
#Coditions of 'PRCP'>0 and 'TMAX'>98 (dot notation)

#Retriving all data with the above condtions

One more argument `["column_to_select1", "column_to_select2", ...]` are the columns that you want retrive. For example, suppose we want to know the wwind speed and Station ID when these two conditions 'PRCP'>0 and 'TMAX'>80 are meet.

In [ ]:
# Coditions of 'PRCP'>0 and 'TMAX'>98 (dot notation)
conditions= (two_stations.PRCP>0) & (two_stations.TMAX>=98)

# Columns to show 
columns_to_show = ['AWND','STATION']

#Retriving all data with the above condtions and showing selectec columns

In the above examples, we used dot notation, but we can also use dic notation. Check [Section 4.8](#4.8-Descriptive-statistics) for more information about the difference between dot and doc notations.

In [ ]:
# Coditions of 'PRCP'>0 and 'TMAX'>98 (dic notation)
conditions= (two_stations['PRCP']>0) & (two_stations['TMAX']>=98)

# Columns to show 
columns_to_show = ['AWND','STATION']

#Retriving all data with the above condtions and showing selectec columns

### 4.13 Slicing and dicing together

You can first slice and then dice and vice verse using chain method. For example, `df.loc[dice].loc[slice]`. 

For example, retrive wind and station data with `'TMAX'>=96` and `'PRCP'>0` in `2023`.

In [ ]:
#conditions of 'PRCP'>0 and 'TMAX'>=96
conditions= (two_stations["PRCP"] > 0) & (two_stations["TMAX"]>=96)

#columns to show
columns_to_show= ['STATION','AWND']

# Dice to my condition and columns to show -> slice to 2023 that is from '2023-01-01' to '2023-12-31'

#### Challange your understanding

Find the mean wind speed when `'TMAX'>=96` and `'PRCP'>0` in `2023`. This is the same as the above example. But then you need to select column `AWND` using `.AWND`, `['AWND']` , or `.loc[:,'AWND'].`Then do one more chain with the `.mean()` method.

In [ ]:
#conditions of 'PRCP'>0 and 'TMAX'>=96
conditions= (two_stations["PRCP"] > 0) & (two_stations["TMAX"]>=96)

#columns to show
columns_to_show= ['STATION','AWND']

# Approach 1 : .AWMD
# Dice to my condition and columns to show -> slice to 2023 
# -> select AWMD column -> use mean() method

You can also try the two other indexing approaches suggested above

In [ ]:
# Approach 2 : ['AWND']
# Dice to my condition and columns to show -> slice to 2023 
# -> index to AWMD column -> use mean() method

In [ ]:
# Approach 3 : .loc[:, 'AWND']
# Dice to my condition and columns to show -> slice to 2023 
# -> index to AWMD column -> use mean() method

#### Ask a LLM (opitional)

Below are three approaches for finding the mean AWMD for the extrem conditions `PRCP> 0` and `TMAX>=96` in `2023`. Ask a LLM if there are other approaches to find that mean. Here is the prompt that I provided:

```
Below are three approaches to find that mean of AWND. Can you suggest another approach?
    ```Python
    #conditions of 'PRCP'>0 and 'TMAX'>=96
    conditions= (two_stations["PRCP"] > 0) & (two_stations["TMAX"]>=96)
    
    #columns to show
    columns_to_show= ['STATION','AWND']
    
    # Approach 1
    # Dice to my condition and columns to show -> slice to 2023 
    # -> index to AWMD column -> use mean() method
    two_stations.loc[conditions, columns_to_show].loc['2023-01-01':'2023-12-31'].AWND.mean()
    
    # Approach 2
    # Dice to my condition and columns to show -> slice to 2023 
    # -> index to AWMD column -> use mean() method
    two_stations.loc[conditions, columns_to_show].loc['2023-01-01':'2023-12-31']['AWND'].mean()
    
    #Approach 3 
    # Dice to my condition and columns to show -> slice to 2023 
    # -> index to AWMD column -> use mean() method
    two_stations.loc[conditions, columns_to_show].loc['2023-01-01':'2023-12-31'].loc[:,'AWND'].mean()
    ```
I am writing in Jupyter notebook using the Python 3 (system-wide) kernel.
```

I provided the above prompt to ChatGPT 3.5. Here are the responses that I got:

ChatGPT 3.5, provided an approach to filter the data and calculate the mean, and suggested to "choose the method that best fits your coding style and preference."

In [ ]:
# Approach 4
# Use loc to apply conditions, slice to 2023, select the 'AWND' column, and calculate the mean directly
two_stations.loc[conditions & (two_stations.index.year == 2023), 'AWND'].mean()

ChatGPT suggested subsetting using Datetime column `.index.year`. This is what we will learn next. However, you can ask your LLM to explain the solution to you.

### 4.14 Subsetting using Datetime Column

Slicing as shown in [Section 4.11](#4.11-Slicing-with-loc-and-iloc) is a useful technique for subsetting a DataFrame, but there are also other options that can be equally useful.

Before we start, let us first create a fresh copy of our DataFrame, just to review and remember [what we did before](#4.10-Groupby).

In [ ]:
#Create a new DataFrame contains only stations at airports
two_stations = df.copy()

# Convert the "DATE" column to datetime format
two_stations['DATE'] = pd.to_datetime(two_stations['DATE'])

# Set the "DATE" column as the index of your DataFrame
two_stations.set_index('DATE', inplace=True)

If your DataFrame uses datetime values for indices, you can select data from only one day using `df.index.day`, one month using `df.index.month`, one year using `df.index.year`, and so on. 

For example, the expression 
```python
two_stations.index.month == 12
```
will create a boolean mask where each element corresponds to whether the month component of the index of each row is equal to 12. In other words, this expression give True for rows where the month is December (i.e., month number 12) and False for rows where the month is not December. This boolean mask can then be used to filter rows based on the condition that the month is December using for example, 
```python
df.loc([two_stations.index.month == 12])
```

Let us say that we want to calculate the mean of the `TMIN` and `TMAX` columns for the month of December across all years for our`two_stations` DataFrame. How to approach this task? Here is one strategy
1. Filter the rows of the `two_stations` DataFrame based on the condition of the month of December as described above
2. Select the columns `TMIN` and `TMAX` from the DataFrame using `[['TMIN','TMAX']]`, or `.loc[:, ['TMIN','TMAX']]`
3. Apply `.mean()` function to the filtered DataFrame

You can also do step 2 column selection before step 1 filtering by month using datetime subset.
  
Let us try to test both of them:

In [ ]:
# Approach 1 Datetime subset -> Select 
#Subset condition with datetime index: month == 12 (December)


#Subset given my condition -> select columns .loc[:,['TMIN','TMAX']]-> apply .mean() function

#### Test your understanding 
Redo the above example, but by applying step 2 that is column selections, before step 1 that is filtering for the month of december.

In [ ]:
# Approach 2 Select -> Datetime subset 

#Subset condition with datetime index is the month == 12 (December)
condition = two_stations.index.month == 12

# Select columns .loc[:,['TMIN','TMAX']] -> Subset given my condition -> apply .mean() function

#### Another example with LLM (*opitional*)

Do a for loop to find the mean TMIN and TMAX from Jan to Dec from 2020-01-01 to 2023-12-31. For each iteration print month, TMIN, and TMAX in a table format. To print in table format you can use install the package `tabulate` that can do this for you. We did not learn this package, but you can ask a LLM to solve this problem for you. 

Here is one prompt:
```Note
    Do a for loop to find the mean TMIN and TMAX for the study period, using this code 
    ```Python
    #Subset to data in month 12 (December) and get the mean TMIN and TMAX in December throughout the study period 
    two_stations.loc[:,['TMIN','TMAX']].loc[two_stations.index.month == 12].mean() 
    ``` 
    For each iteration print the month name, TMIN, and TMAX in a table format. 
```
This is the solution that I got from ChatGPT 3.5.

In [ ]:
#Install tabulate if you are using it for the first time by uncommenting the pip install command
#pip install tabulate

In [ ]:
# ChatGPT 3.5 Solution
#Import two modules
import calendar
from tabulate import tabulate

# Initialize a list to store the results
results = []

# Iterate over each month
for month in range(1, 13):

    #Subset condition with datetime index is the month == 12 (December)
    condition= two_stations.index.month == month
    
    # Subset data for the current month and calculate mean TMIN and TMAX
    monthly_data = two_stations.loc[:, ['TMIN', 'TMAX']].loc[condition,:]
    mean_TMIN = monthly_data['TMIN'].mean()
    mean_TMAX = monthly_data['TMAX'].mean()
    
    # Get month name
    month_name = calendar.month_name[month]
    
    # Append the results to the list
    results.append([month_name, round(mean_TMIN, 2), round(mean_TMAX, 2)])

# Print results in table format
print(tabulate(results, headers=["Month", "Mean TMIN", "Mean TMAX"], tablefmt="pretty"))

#### A comprehensive example (*advanced*)

Let us look at an example where we can apply many of the methods that we learned. Let use reslove the above problem without using loops. We can use something that we learned before like  [groupby](#4.10-Groupby). Remember groupby is tool for grouping data based on some criteria, which can include time-related criteria but is not limited to time-series data.

Here is a solution strategy 
1. Use something like `.index.month` to find the month number for each row
2. Add the month number for each row as a new column, e.g., 'month'
3. Select the columns 'TMIN', 'TMAX', 'month': `[['TMIN','TMAX', 'month']]` or `.loc[:, ['TMIN','TMAX','month']]`
4. Groupby by 'month': `.groupby('month')`
5. Apply `.mean()` function

So far we have used the DataFrame as is without adding or removing a column to the DataFrame. Let us now add to `two_stations` a new column 'month'. The value returned by `df.index.month` is used to obtain the data for this new column:

In [ ]:
#Add new column 'month' with its values obtained from index
two_stations['month'] = two_stations.index.month

#Display new DataFrame
two_stations

Select the columns that you want to apply groupby to. Then groupby month and the apply `.mean()`.

In [ ]:
# Select columns ->  Groupby month -> Apply mean to find the mean for each month
two_stations.loc[:, ['TMIN','TMAX','month']].groupby('month').mean()

In the above example, I solved the problem in five steps through adding the new column `month` for illustration purpose. You can only solve it in three steps without adding the new column `month` as follows:

In [ ]:
# Select columns ->  Groupby month -> Apply mean to find the mean for each month
two_stations.loc[:, ['TMIN','TMAX']].groupby(two_stations.index.month).mean()

How can you customize your table to look like the table you got in the [above example with loop](#-Another-example-with-LLM-(*opitional*)). I asked ChatGPT 3.5, and here is what I got:

In [ ]:
import calendar

# Select columns, group by month, and apply mean to find the mean for each month
monthly_means = two_stations.loc[:, ['TMIN', 'TMAX']].groupby(two_stations.index.month).mean()

# Map month numbers to month names
monthly_means.index = monthly_means.index.map(lambda x: calendar.month_name[x])

# Round mean values to two decimal points
monthly_means = monthly_means.round(2)

# Rename the columns
monthly_means = monthly_means.rename(columns={'TMIN': 'Mean TMIN', 'TMAX': 'Mean TMAX'})

# Print the resulting DataFrame
display(monthly_means)

In the code above we learned everything expect for `.map()` and `lambda` function. You can ask your LLM to learn more about this. However, if you can understand that much, you have a very good understanding of Pandas and Python in general.

### 4.15 Quick Plots of Your Data
A good way to explore your data is by making a simple plot. Pandas contains its own `.plot` method; this allows us to plot Pandas series without needing `matplotlib`.

#### 4.15.1 Line plot

This is very simply:
```python
df[columns_to_plot].plot(opitions_as_needed)
```

In this example, we plot the `TMAX` and `TMIN` series of our DataFrame with lin plot.

In [ ]:
#Select data to plot: TMAX and TMIN
data_to_plot=['TMAX','TMIN']

#Plot method: .plot();

<div class="admonition alert alert-info">
    <p class="admonition-title" style="font-weight:bold">Note</p>
Prompt engineering entails crafting precise prompts to guide a large language model (LLM) to generate desired outputs. Mastering prompt engineering enables effective utilization of LLMs across tasks from problem-solving to creative writing. Learn more with Real Python's tutorial on Prompt Engineering: A Practical Example.

Prompt engineering involves crafting precise and effective prompts or instructions to guide a large language model (LLM) to generat the desired outputs. Learning prompt engineering, through providing clear guidance and constraints, will help you to effectively harness the capabilities of LLMs for various tasks from creative writing to problem-solving. To learn prompt engineering you can check for example <a href="https://realpython.com/practical-prompt-engineering/">Prompt Engineering: A Practical Example</a> tutorial by Real Python. 
</div>

#### 4.15.2 Histogram plot

In the previous example we called `.plot()`, which generated a single line plot. Line plots can be helpful for understanding some types of data, but there are other types of data that can be better understood with different plot types. For example, if you want to see the distribution of your data, you can better do this with a histogram plot.

Let us do something more advanced than the previous example to build on what we learned before. Let use say we want to see the `TMAX` distributions for years `2022` and `2023`. That is tricky. Let us think about this step-by-step. First we need to create two new columns `2022_TMAX` and `2023_TMAX`, such that `2022_TMAX` will contain `TMAX` data for `2022`, and `2023_TMAX` will contain `TMAX` data for `2023`. Then we can plot the data of these two new columns.

We have learned how to do this before with [Slicing](#-4.11-Slicing-with-loc-and-iloc) and with [Subsetting](#-4.14-Subsetting-using-Datetime-Column). Here is how to do this with [Slicing](#-4.11-Slicing-with-loc-and-iloc)

In [ ]:
#Slicing data for 2022 and 2023 and adding it to the DataFrame
one_station['2022_TMAX'] =  one_station.TMAX.loc['2022']
one_station['2023_TMAX'] =  one_station.TMAX.loc['2023']

# Display updated DataFrame to show the two new columns '2022_TMAX' and '2023_TMAX'
one_station

Let use delete these two columns and add them again with the subsetting method

In [ ]:
# Drop the specified columns from the DataFrame
one_station.drop(columns= ['2022_TMAX', '2023_TMAX'], inplace=True)

Now add these two columns back using the subsetting method

In [ ]:
#Subsetting 2022 and 2023 data and adding it to the DataFrame
one_station['2022_TMAX'] =  one_station.TMAX.loc[one_station.index.year == 2022]
one_station['2023_TMAX'] =  one_station.TMAX.loc[one_station.index.year == 2023]

# Display updated DataFrame to show the two new columns '2022_TMAX' and '2023_TMAX'
one_station

Now we have our data ready for plotting.

The code for plotting histogram data is slighlty differs from the code for line plot. After calling the `.plot` method, we call an additional method called `.hist`, which converts the plot into a histogram. Also, we are calling `.hist` with two additional opitional parameters. The first parameter `alpha` is for adjusting the transparency. For example, alpha=0.5 sets the transparency level of the plotted histogram to 50%. The parameter `bins` specifies the number of bins used to divide the range of the data into equal intervals for plotting the histogram.

In [ ]:
#Select data to plot
data_to_plot=['2022_TMAX','2023_TMAX']

#Histogram method .plot.hist(); with alpha=0.5, bins=20 (alpha parameter for transparency)

#### 4.15.3 Box plot

The histogram plot helped us to look differently at the data. It seems that the two datasets are from the same distribution. To even better understand this data, it may also be helpful to create a box plot. This can be done using the same code, with one change: we call the `.box` method instead of `.hist`.

In [ ]:
#Select data to plot
data_to_plot=['2022_TMAX','2023_TMAX']

#Box method .plot.box();
one_station[data_to_plot].plot.box();

Just like the histogram plot, this box plot indicates no clear difference in the distributions. Using multiple types of plot in this way can be useful for verifying large datasets. The Pandas plotting methods are capable of creating many different types of plots. To see how to use the plotting methods to generate each type of plot, please review the [Pandas plot documentation](https://Pandas.pydata.org/docs/reference/api/Pandas.DataFrame.plot.html).

#### 4.15.4 Customize your Plot
The Pandas plotting methods are, in fact, wrappers for similar methods in matplotlib.  This means that you can customize Pandas plots by including keyword arguments to the plotting methods.  These keyword arguments, for the most part, are equivalent to their matplotlib counterparts.

In [ ]:
#Plain plotting without customization
one_station[['TMAX','TMIN']].plot();

In [ ]:
#Here are some customizations that you can do 
one_station[['TMAX', 'TMIN']].plot(
    color=['red', 'blue'],          # Set different colors for TMAX and TMIN
    linewidth=1,                  # Set the width of the lines to 1
    xlabel='Date',                 # Set the label for the x-axis
    ylabel='Temperature (deg F)',   # Set the label for the y-axis
    figsize=(12, 4),                  # Set the size of the figure to (8, 6) inches
    title='Max and Min Temperature Over Time',  # Add a title to the plot
    grid=False,                      # Do not show gridlines on the plot
    legend=True,                    # Show a legend
    style=['-', '-'],              # Set solid line for TMAX and TMIN
    alpha=0.8,                      # Set the transparency of the lines to 0.8
    xlim=('2020-01-01', '2024-01-01'),  # Set the limits for the x-axis
    ylim=(30, None),                 # Set the lower limit for the y-axis to 0
    rot=0,                         # Rotate x-axis labels by 0 degrees
    fontsize=12,                    # Set font size for labels
);

### 4.16 Applying operations to a DataFrame

One of the most commonly used features in Pandas is the performing of calculations to multiple data values in a `DataFrame` simultaneously. Let's first look at a a function that converts temperature values from degrees Fahrenheit  to Celsius.

In [ ]:
def fahrenheit_to_celsius(temp_ferh):
    """
    Converts from degrees Fahrenheit to Celsius.
    """
    return (temp_ferh - 32) * 5/9

In [ ]:
#Test your function here be checking freezing point temp_Fehr=32

Let us create a new DataFrame for temperature data and apply `ferhenirt_to_celsius` function to convert data from Ferhenirt to Celsius. Then add the new data as two new columns `TMAX_C` and `TMIN_C`. This can take this form: 
```python
df[new_columns] = my_function(df[original_columns])
```

Also, rename the original `TMAX` to `TMAX_F` and `TMIN` to `TMIN_F`. For renaming you can use the rename function:
```python
df = df.rename(columns={'old_name1': 'new_name1', 'old_name2': 'new_name2'})
```
Here is how to do this:

In [ ]:
# Create a new DataFrame for temp values TMAX and TMIN
temp=one_station[['TMAX','TMIN']].copy()

# Convert temp from F to C and save to new columns TMAX_C and TMIN_C


#Change the name of TMAX to TMAX_F and TMIN to TMIN_F

# Display new DataFrame

Another way of doing this is to use `.apply()` such that
```python
df[new_columns] = df[original_columns].apply(my_function)
```
Try it out:

In [ ]:
# Create a new DataFrame for temp values TMAX and TMIN
temp=one_station[['TMAX','TMIN']].copy()

# Convert temp from F to C and save to new columns TMAX_C and TMIN_C


#Change the name of TMAX to TMAX_F and TMIN to TMIN_F
temp = temp.rename(columns={'TMAX': 'TMAX_F', 'TMIN': 'TMIN_F'})

# Display new DataFrame 
display(temp)

This is just the beginning. You can convert a Pandas DataFrame to numpy array for more advanced array operations. You can do this conversion using the method `.values`.

Check the type of your DataFrame.

In [ ]:
type(temp)

Now use the method `temp.values` and check the type again.

In [ ]:
type(temp.values)

We will learn later learn Numpy, whihc handles multi-dimensional arrays with extensive collection of mathematical functions, facilitating high-performance numerical computations.

### 4.17 Iterating over rows (*opitional*)

We can apply a function row at a time using a for loop and the `iterrows()` method. This will allow us to iterate row by row using iterrows() in a for loop to repeat a given process for each row in a Pandas DataFrame. Please note that iterating over rows is a rather inefficient approach, but this is your last resort when the other methods cannot do what you need. 

Let's start with a simple for loop that goes through each row in our DataFrame

In [ ]:
# Create a new DataFrame for temp values TMAX and TMIN
temp=one_station.loc['2023-12-29':'2023-12-31', ['TMAX','TMIN']].copy()

# Iterate over the rows
for idx, row in temp.iterrows():

    # Print the index value
    display(idx)

    # Print the row
    display(row['TMAX'])
    display(row['TMIN'])

    break   #Break is used to show only the first iteration of the for loop for testing purpose

Now for each value let use apply our `fahrenheit_to_celsius` function.

In [ ]:
# Create a new DataFrame for temp values TMAX and TMIN
temp=one_station[['TMAX','TMIN']].copy()

# Iterate over the rows
for idx, row in temp.iterrows():
    # Convert TMAX from Fahrenheit to Celsius
    temp.loc[idx, 'TMAX_C'] = fahrenheit_to_celsius(row['TMAX'])
    # Convert TMIN from Fahrenheit to Celsius
    temp.loc[idx, 'TMIN_C'] = fahrenheit_to_celsius(row['TMIN'])

#Change the name of TMAX to TMAX_F and TMIN to TMIN_F
temp = temp.rename(columns={'TMAX': 'TMAX_F', 'TMIN': 'TMIN_F'})

# Display the resulting DataFrame with temperatures converted to Celsius
display(temp)

### 4.18 Save and load your DataFrame

In this final example, we demonstrate the use of the `to_csv` method to save a DataFrame as a `.csv` file. This example also demonstrates the `read_csv` method, which reads `.csv` files into Pandas `DataFrames`.

#### 4.18.1 Save a DataFrame as `.csv` file

The `to_csv` method saves a DataFrame as a `.csv` file as
```python
df.to_csv('file_path/file_name.csv')
```
Try to to save your `temp` DataFrame to 'temp_data.csv'

In [ ]:
# Save your temp data in F and C to a CSV file 'temp_data.csv'

#### 4.18.2 Read a `.csv` files into DataFrames

We want to
1. read the file as new DataFrame called `df_temp`, 
2. set our first column as our index column,
3. and change the format of our index to datetime format.

Let us break it down part by part.

First, you can use the `read_csv` method reads `.csv` files into Pandas DataFrames
```python
df_name= pd.read_csv('file_path/file_name.csv', index_col = 0, parse_dates = True )
```

Second, set the the first column which contain datetime data as our index using:
```python
index_col = 0
```
which specifies that the first column of the CSV file should be used as the index of the DataFrame. If you want for example to use your third column as the index of your DataFrame, you can do `index_col = 2` and so on. 

Third, parse any date-like columns as datetime objects using
```python 
parse_dates = True 
```
which instructs Pandas to attempt to parse any datetime columns including index in the CSV file as datetime objects.

Here is how to do this:

In [ ]:
# Read file as a new DataFrame 'df_temp', and set first column as index with datetime format


#Display your new DataFrame

What we did not learn so far is how to create a DataFrame from a given data rather than reading it from a file. You can learn this on your own. Ask a LLM for example and guide yourself through the learning process.

---
## Summary
* Pandas is a very powerful tool for working with tabular (i.e., spreadsheet-style) data
* There are multiple ways of subsetting your Pandas dataframe or series
* Pandas allows you to refer to subsets of data by label, which generally makes code more readable and more robust
* Pandas can be helpful for exploratory data analysis, including plotting and basic statistics
* One can apply calculations to Pandas dataframes and save the output via `csv` files

### What's Next?
To learn Pandas, you do not need to read more, but to practice more. Start working on your homework. When encountering challenges, refer back to this notebook and seek assistance from a LLM.  If the LLM provided a new method that you do not understand, ask for explanation. When you write a code that does not work, ask for debugging. Practice as much as you can to learn this powerful data analysis tool. 

## Resources and References
1. [Getting Started with Pandas](https://Pandas.pydata.org/docs/getting_started/index.html#getting-started)
1. [Pandas User Guide](https://Pandas.pydata.org/docs/user_guide/index.html#user-guide)
1. [Python for Data Analysis, 3rd Edition](https://wesmckinney.com/book/)
1. [Introduction to Pandas](https://foundations.projectpythia.org/core/pandas/pandas.html) by [Project Pythia](https://projectpythia.org),